
a, button {
  @include box($white, $black);
  cursor: pointer;
  padding: 1vh 2vw;

  &, &:active, &:focus, &:hover { outline: none; }

  &.danger { @include box($white, $danger); }
  &.full { width: 100%; }
  &.info { @include box($white, $info); }
  &.jumbo { font-size: 1.3rem; padding: 3vh 2vw; }
  &.primary { @include box($white, $primary); }
  &.secondary { @include box($white, $secondary); }
  &.success { @include box($white, $success); }
  &.warning { @include box($white, $warning); }
}
