
html {
  a {
    background: none;
    border: none;
    color: $primary;
    font-size: 1rem;

    &:active, &:focus, &:hover {
      background: none;
      border: none;
      color: $success;
    }
  }

  body {
    color: $font-color;
    font-family: $font-family;
    font-size: $font-size;

    &, a, a:active, a:focus, a:hover, button {
      text-decoration: none;
    }
  }
}

.text {
  &-center { text-align: center; }
  &-left { text-align: left; }
  &-right { text-align: right; }
}
